@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(19, 18, 18);
  color: #fff;
  font-size: 16px;
}
.top {
  display: flex;
  margin: 10% 10%;
}
.bottom{
  margin: 10% 0;
}
.person-img {
  width: 130px;
  margin: 10px;
  align-self: center;
}
h1 {
  font-size: 3.2rem;
  margin-left: 20px;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 500;
}
.paragraph p {
  margin: 20px;
}
hr {
  width: 90%;
  margin: 100px auto;
  height: 1px;
  border: 0;
  background: linear-gradient(
    254deg,
    rgba(98, 0, 125, 0.8491771708683473) 50%,
    rgba(245, 22, 22, 1) 100%
  );
}
h4 {
  margin: 20px 0;
  font-family: "Ubuntu Mono", monospace;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  word-spacing: 5px;
  letter-spacing: 1px;
}
.bottom p {
  text-align: center;
  margin: 10px;
}
h6 {
  font-family: "Ubuntu Mono", monospace;
  background: linear-gradient(
    254deg,
    rgba(98, 0, 125, 0.8491771708683473) 50%,
    rgba(245, 22, 22, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  margin: 20px 0;
}
.items {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 80px auto;
}
.same {
  margin: 1%;
  width: 25%;
  text-align: left;
  align-self: flex-start;
}
.same p {
  text-align: left;
  margin: 0;
}
p{
  font-size: 1.25rem;
}
@media screen and (max-width: 769px) {
  html{
    font-size: 14px;
  }
  .top{
    flex-direction: column;
    margin: 100px 0;
  }
  .person-img{
    width: 25%;
  }
  .items {
    flex-wrap: wrap;
    justify-content: left;
  }
  .same {
    width: 48%;
    padding: 20px;
  }
  hr {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .top{
    margin: 5%;
  }
  .person-img{
    width: 50%;
  }
  .paragraph p,h1{
    margin: 20px 0;
    text-align: center;
  }
  .items {
    flex-direction: column;
  }
  .same {
    margin: 1% auto;
    width: 95%;
  }
}
